<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>Document</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />
   <link rel="stylesheet" href="/css/styles.css" />
   <!-- font awsom -->
   <script src="https://kit.fontawesome.com/dd78c4fffe.js" crossorigin="anonymous"></script>
</head>

<body>
   <div class="container">
      <div class="row d-flex justify-content-between ">
         <section class="col-4">
            <%- include("partials/sidebarLeft") %>
         </section>
         <section class="col-4">
            <div class="container">
               <nav class="nav">
                  <div class="row navbarrow">
                     <div class="col-1 d-flex justify-content-center align-items-center">
                        <a href="/profile/<%=otherUser.username%>"><i class="fa-solid fa-arrow-left"></i></a>
                     </div>
                     <div class="col-9">
                        <h5 class="mb-0">
                           <%=otherUser.name%>
                        </h5>
                        <h7 class="username mt-0">
                           <%=otherUser.username %>
                        </h7>
                     </div>
                  </div>
               </nav>
               <!--Info-->
               <section>
                  <%if (allFollowing.length>0) { %>
                     <% for(const follow of allFollowing) { %>
                        <div class="row">
                           <div id="tweetCard" class="d-flex">
                              <div>
                                 <%if(follow.profilepicture.includes("https")){%>
                                    <img id="imgUserCard" class="rounded-circle marginRight"
                                       src=<%=follow.profilepicture %> />
                                    <%}else{%>
                                       <img id="imgUserCard" class="rounded-circle marginRight"
                                          src="/img/userProfiles/<%=follow.profilepicture %>" />
                                       <%}%>
                              </div>
                              <div>
                                 <div>
                                    <div class="d-flex">
                                       <a class="text-decoration-none" href="/profile/<%= follow.username%> ">
                                          <h5>
                                             <%=follow.name%>
                                          </h5>
                                       </a>
                                       <span>
                                          <%=follow.username%> - Ago 12
                                       </span>
                                    </div>
                                    <div>
                                       <p>
                                          <%=follow.description%>
                                       </p>
                                    </div>
                                    <div>
                                       <%if(user.following.includes(follow._id)){%>
                                          <a href="/unfollow/<%=follow._id%>">
                                             <button class="btn followBotton">
                                                following
                                             </button>
                                          </a>
                                          <%}else{%>
                                             <%if(follow.id!==user.id){%>
                                                <a href="/follow/<%=follow._id%>">
                                                   <button class="btn followBotton">
                                                      follow
                                                   </button>
                                                </a>
                                                <%}else{%>
                                                   <button class="btn followBotton">

                                                   </button>
                                                   <%}%>
                                                      <%}%>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <%}%>
                           <% } %>
               </section>
            </div>
         </section>
         <section class="col-4">
            <%- include("partials/sidebarRight") %>
         </section>
      </div>
   </div>
</body>

</html>